*{
    padding: 0;
    margin: 0;
    font-family: cursive;
    box-sizing: border-box;
}
body{
    background:black;
    color: aliceblue;
}

html{
  scroll-behavior: smooth;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.logo{
    height: 200px;
    width: 200px;
    transition: background 0.5s , transform 0.5s;
}
.logo:hover{
    background: #03e9f4;
    color: #fff;
    transform: translateY(-5px);
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

.container{
    padding: 10px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display:inline-block ;
    list-style: none;
    margin: 1px 20px;
    
}


nav ul li a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: upercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 2px;
    background: #4d4d4f;
    font-weight: 500;
   
    
  }

nav ul li a:hover {
    background: #03e9f4;
    color: #fff;
    transform: translateY(-2px);
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
nav ul li a span {
    position: absolute;
    display: block;
  }
  nav ul li a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
.container a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
.container span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
.container a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }

.header-text{
    margin-top: 10%;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
}
.header-text h1{
    font-size: 50px;
    margin: 10px;
    font-family:'Courier New', Courier, monospace;
    text-shadow: #f50561;
}
.header-text h1 span{
    color: cyan;
     
}
.header-text h1 span:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

#About{
    color: #00f8f8;

}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.About-col-1 img{
    border-radius: 15px;
    transition: background 0.5s , transform 0.5s;
}
.About-col-1 img:hover{
  background: #03e9f4;
  color: #fff;
  border-radius: 10px;
  transform: translateY(-5px);
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4; 
}
.About-col-2{
    flex-basis: 60%;
}
.sub-title{
  color: #f50561;
    font-size: 40px;
    font-weight:500;  
    transition: background 0.5s , transform 0.5s;  
}
.sub-title:hover{
  color: #0a7cff;
  transform: translateY(-2px);
  animation-duration: 25s;

}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    font-family: cursive;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.5s , transform 0.5s;
}
.tab-links:hover{

    transform: translateX(-2px);


}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color: crimson;
    font-size: 15px;
}
.tab-contents ul li span:hover{
  color: #ff0000;

}
.tab-contents{
  display: none;
}
.tab-contents.active-tab{
  display: block;
}

/*========================services***************************/
.services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 40px;

}
.services-list div{
  background: #262626;
  padding: 50px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 100px;
  transition: background 0.5s , transform 0.5s;
}
.services-list div:hover{
  background:#ff004c;
  transform:translateY(-10px);

  border-radius:40%;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}
.services-list a{
  color: #fff;
  padding-top: 30px;
  display: flex;
  font-family:cursive;
  font-size: 20px;
  text-decoration: none;
}
/*------------------------------contact us---------------------------------*/

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, input {
  font-family:cursive;
  font-weight: 800;
  letter-spacing: 1px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #f50561;
  border-radius: 20px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #1ceded;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #03e9f4;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #03e9f4;
}

.app-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 180px;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
  font-weight: 700;
}



.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #03e9f4;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #03e9f4,
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #47fa00;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  background: #47fa00;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}


.portfollio{
  padding: 50px 0;
}

.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 20px;
  overflow: hidden;
}
.work img{
  /* border-radius: 20px; */
  width: 100%;
  display: block;
  transition: background 0.5s , transform 0.5s;
}
.work img:hover{
  background:#ff0040;
  border-radius: 5px;
  transform: translateY(-2px);
  box-shadow: 0 0 5px #ff0040,
              0 0 25px #ff0040,
              0 0 50px #ff0040,
              0 0 100px  #ff0040;
}
.work-lost{
 text-align: center;
}


.layer{
  background:#ff0040;
  transition: background 0.5s , transform 0.5s;
}

.layer:hover{
  background:#ff0040;
  transform: translateY(-2px);
  border-radius: 5px;

}


.Main-p{
  text-align: center;
}


.pro{
  text-align: center;
  background-origin: padding-box;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  
}

/*--------------------------Mobile SXcreen****************************/
nav .opo{
  display: none;
}



@media only screen and (max-width: 600px){
  nav .opo{
    display: block;
    font-size: 25px;
    cursor: pointer;

  }

  nav ul{
    background: #ff0040;
    position: fixed;
    right: -200px;
    top: -200px;
    width: 200px;
    height: 120vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li{
    display: block;
    margin: 25px;
  }

  nav ul .opo{
     position:absolute;
     top: 25px;
     left: 25px;
     cursor: pointer;
     margin-top: 600px;
  }

}





